# Python Day 1

Good evening this is Python Class!!!

In [1]:
#Comment
#Indentitation
#General Syntacs
#Variable
#Single Line Comment
"""Doc String i.e Mutli-line comment"""

'Doc String i.e Mutli-line comment'

# Indentation

In [2]:
print("Good Evening, I need cofee")
print("Am hungry")

Good Evening, I need cofee
Am hungry

In [3]:
for i in range(1,20):
 print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

# General Syntax

In [4]:
print('The weather is too cold, I need hot tea')

The weather is too cold, I need hot tea

In [5]:
print(""" I love coding, Its good to be
a programer or Data Expert.
There is alot of 
benefit in Coding""")

 I love coding, Its good to be
a programer or Data Expert.
There is alot of
benefit in Coding

In [6]:
if 10==10:
    print("It is correct")

It is correct

# storing Multi values in multi variables

In [7]:
item1,item2,item3="Laptop","Laptop Bag","Laptop Charger"
print(item2)

Laptop Bag

In [8]:
print(item3)

Laptop Charger

In [9]:
print(item1)

Laptop

In [10]:
Gbenga=Abdulahi=Tola=Mobolaji="I am a Nigerian"
print(Abdulahi)

I am a Nigerian

In [11]:
print(Tola)

I am a Nigerian

In [12]:
print(Mobolaji)

I am a Nigerian

In [13]:
print(Gbenga)

I am a Nigerian

# Unpacking Variables

In [14]:
food_items=['gari','beans','yam','rice']

food1,food2,food3,food4 = food_items

print(food3)

yam

In [15]:
print(food4,"is my favorite food")

rice is my favorite food

In [16]:
name="Wilson"

leta1,leta2,leta3,leta4,leta5,leta6=name

# print(leta1)

manu,chelsea,arsenal,madrid,mancity,toteham = name

print(manu)
print(chelsea)
print(arsenal)
print(madrid)

W
i
l
s

# Concatenation(+ or ,)

"+" sign is used when you are combining two variables of the same datatype <br />
"," sign is used when you are combining two variables of the diffrent datatype

In [17]:
a=10
y=25

print(a+y)

35

In [18]:
val1 = "23"
val2= "34"
print(val1 + val2)

2334

In [19]:
print(val1 + y) # + sign can not concatenate two diff data type

TypeError: can only concatenate str (not "int") to str

In [ ]:
print(val1 , y)

In [ ]:
print("he is "+ val2  + " " + "years old" )

# categories of declaring variable
+ Local Variable
+ Global Variable

# Local Variable

In [ ]:
def localVal():
    car="Ferari"
    print("My best car is ", car)

localVal()

# Global Variable

In [ ]:
day="Wednessday"

def myday():
    print("I do have my Python class on", day)
myday()
print("Today is ",day)

# Global Keyword

In [ ]:
def cal():
    global a,b
    a=10
    b=15
    return a*b
cal()
print(a+b/b)

In [ ]:
# (a^2*e/100)*y

In [ ]:
num= int(230.5)

print(num)

# Data Structure

# List

In [ ]:
myData=[1,2,3,4,5,6]

print(myData)

food=['Beans','Rice','Gari']

print(food)

print(food[1])
print(food[0])
print(food[2])

In [ ]:
#Slicing Explanation 
items=['belt','Wrist Watch','Ring','Sandal','Bag','Laptop','charger','Pen']

print(items[0:3])

In [ ]:
print(items[2:])# print from 2 to the end
print(items[2:7])# In this case Pen will not be included
#Note Last in the range will be excluded

In [ ]:
print(items[-4])#Print from rear using negative index

In [ ]:
print(items[-4: ])

In [ ]:
#start end step
print(items)

In [ ]:
print(items[0::2])

# Adding Items to the list

In [ ]:

#-Append()

cars=['Benz','Toyota','lezux','Nissan','Audi','BMW','Ferari']

cars.append("Volvo")

print(cars)

In [ ]:
#-Insert()
# cars.insert(2,'Rover Sport')
# print(cars)

cars.insert(4,'Ford')
print(cars)

In [ ]:
#-Extend 
names=['Mobolaji','Omotola','Ridwan','Gbengene']
otherNames=['Willy','George','Favor','Blessing','Bill','Josh']
names.extend(otherNames)
print(names)

# Remove from List

In [ ]:
#-Remove Method

names.remove('Bill')
print(names)

In [ ]:
#-POP()
names.pop()
print(names)

names.pop(3)
print(names)

In [ ]:
#- Del keyword

# del names[3]
# print(names)

#To remove the entire List

del names
print(names)

In [ ]:
#Clear() Method

# print(cars)

cars.clear()
print(cars)

In [ ]:
car2=['Volks Wagen','Chivrolet','Jagua']
cars.extend(car2)
print(cars)
cars.clear()
print(cars)

# List Comprehension

In [ ]:
places=["Igbona","Oke-fia","Onward","Ring road"]

location=[]

for d in places:
    location.append(d)
print(location)

In [ ]:
places=["Igbona","Oke-fia","Onward","Ring road"]
location=[ d for d in places ]
print(location)

In [ ]:
states=["Osun","Ogun","Nasarawa","Lagos","Ekiti"]
mainStates=[]

for e in states:
    mainStates.append(e)
print(mainStates)

#List Comprehension
states1=["Osun","Ogun","Nasarawa","Lagos","Ekiti"]
mainStates=[f for f in states1]
print(mainStates)

In [ ]:
numbers=[num for num in range(1,21)]
print(numbers)

In [ ]:
numbers1=[b for b in range(0,20) if b <10 ]
print(numbers1) 
    
numbers2=[]

for c in range(0,10):
    if c < 5:
        numbers2.append(c)
print(numbers2)

# SORTING List

In [ ]:
fruits=['orange','Pineapple','Apple','Banana',"cashew"]


#Assending Order


fruits.sort()
print(fruits)
num2=[1,4,3,6,7,2,0]
num2.sort()
print(num2)

#Descending Order

fruits.sort(reverse = True)
print(fruits)

# Reverse Method

fruits.reverse()
print(fruits)

In [ ]:
#Sort using string to lower

fruits.sort(key = str.lower)
print(fruits)

# Copy method

In [ ]:
courses=['Data Analytics','Web Design','Cyber Security','Graphics']
compiled_courses=courses.copy()
print(compiled_courses)

# How to Join Two or more List together

In [ ]:
# + sign
# append()
# Extend()

#1. + Sign
premierLeague = ['Man-u', 'Chelsea','Arsenal','Aston Vila','Newcastle','Man-City']
La_Liga=['Madrid','Bacca','Athletico-madrid','elba','Villeria']
football_club=premierLeague + La_Liga
print(football_club)

print("\n ******** End of + Sign Explanation ************ \n")
print("\n ******** Beginning of Append() Expanation ************ \n")

#2. append()
seriA=['Ac-miilian','As-Roman','Juventus','Inter-Millan']

for z in seriA:
    football_club.append(z)
    
print(football_club)

print("\n ******** another method  of using Append() ************ \n")
      
football_club.append(seriA)

print(football_club)

# Extend Method

In [ ]:
food=['Gari','Beans','Rice','Potatoe','Yam']
food2=['Semo Vita','Pando Yam','Akpu','Ikokore']

food.extend(food2)
print(food)

for g in food:
    print(g)

# list() Constructor

It Can be used for conversion of Data Types

In [ ]:
myTuple=('cloth','Shoe','Sandal')
print(type(myTuple))
List_convert=list(myTuple)
print(type(List_convert))
      
myTuple=tuple(List_convert)
print(myTuple)
print(type(myTuple))

# Tuple Datatype

In [ ]:
electronics=('Tv','Sound System','Laptop','Headset','ipod')
print(type(electronics))
print(electronics[3])
print(electronics[1:])#Slicing
print(electronics[-2:])#Negative Slicing
#step
print(electronics[1::2])

In [ ]:
fruits=('Apple','Orange','Pineapple','Mango')
fruits_list=list(fruits)

fruits_list[2]='Banana'

fruits=tuple(fruits_list)

print(fruits)

fruits_list=list(fruits)

fruits_list.append('Pineapple')
fruits=tuple(fruits_list)
print(fruits)
a,b,c,d,e=fruits
print(a)
print(b)
print(c)
print(d)
print(e)

In [ ]:
States=("Osun","Ogun","Lagos","Nasarawa","Delta","Kwara")
re_States=list(States)
re_States.remove('Osun')
States=tuple(re_States)
print(States)

cls_States=list(States)
# Clear() Method can be used only if you convert tuple to list and after clear() convert back to tuple
cls_States.clear()
States = tuple(cls_States)
print(States)

del States

print(States)

# Unpack Tupple

Unpack is used to to break items into diffrent or singular variable

In [ ]:
drinks=("White Coffee","Black Coffee","Smoove","Coca-cola","Biggi")
(drink1,drink2,drink3,drink4,drink5) = drinks

print(drink1)
print(drink2)
print(drink3)
print(drink4)
print(drink5)

In [ ]:
itemx = ('Laptop Bag','Charger','Laptop Stand','Mobile Phone','Headset','airpod','Monitor')

# Note: Atericks means you want to add multiple items to a particular variable when unpacking tuple e.g.

(item1,item2,*item3)=itemx

print(item1)
print(item2)
print(item3)

# for tola in itemx:
#     print(tola)

#Range() and len()

for k in range(len(itemx)):
    print(itemx[k])

# Set Datatype

Set is unordered, it can store multiple Items just like list and tuple.
The Item is enclosed in set using curly braces.{}

In [ ]:
myset = {1,2,3,4,5}
print(myset)
myset2={"Apple","Grape","Orange","Mango"}
print(myset2)

In [ ]:
set3={"Apple","Apple","Banana","tangerine","Pineaple","cashew"}
print(set3)

Note: 1 is the same thing as True while 0 is the same thing as False

In [ ]:
ballSport={'Baskeball','Soccer','football',True,1,False,0}
print(ballSport)

# How to access element in set()

In [ ]:
drinks={'Coca-cola','Fanta','Fearless','Smoove','7UP'}

for d in drinks:
    print(d)

In [ ]:
print('Fanta' in drinks)

In [ ]:
print('Sweeps' in drinks)

In [ ]:
print('Smoove' not in drinks)

# Upadate Set()

In [ ]:
#Add() method is used to add element to the set()

lga={'Osogbo LGA','Olorunda LGA', 'Irepodun LGA','Oriade LGA'}
for l in lga:
    print(l)
#adding to lga
lga.add('Odo-Otin LGA')
print(lga)

#update() is used to add Item to the set()
lga2={'Ire-wole  LGA','Atakumosa LGA','Orolu LGA','Aye-Daade LGA'}
lga.update(lga2)
print("Local Govt in Osun State",lga)

for i in lga:
    print(i)

# How to remove elemenrt from set

In [ ]:
#Discard() Method  can be used to remove Item from the set
numberSet={1,2,3,4,5,6,7}
numberSet.discard(5)
print(numberSet)

fruits={'Orange','Pineapple','Grape','Cashew','Mango'}

fruits.discard('Cashew')
print(fruits)

#pop() method can also be used to remove Items from the set()

fruits.pop()

print(fruits)
print(fruits)

#remove() is also used to remove Item from the set()

alphabet={'a','b','c','d'}

alphabet.remove('b')

print(alphabet)

In [ ]:
#clear() method is used to remove all items from the set()

alphabet.clear()

print(alphabet)

#del keyword is used delete the whole set

del alphabet
print(alphabet)

# Join in Set

In [ ]:
city={'Ibadan','Abeokuta','Ikeja','Akure','Osogbo'}
digit={12,34,54,65,78,79}

set_union=city.union(digit)
set_union2=city | digit
print(set_union)
print(set_union2)

In [ ]:
courses={'Graphics','Web Design','Data Analysis','Machine Learning'}
another_course={'Hardware Engineering','Cisco Networking','Cyber Security'}
city={'Ibadan','Abeokuta','Ikeja','Akure','Osogbo'}
digit={12,34,54,65,78,79}

sets=courses.union(another_course, city, digit)
sets1= courses | another_course | city | digit
print(sets1)

# Intersection()

In [ ]:
set1={'cat',1,2,'dog','Rabbit'}

set2={2,3,'dog','cow',1,'Rabbit'}

set4={2,3,'dog','rabit','cow','Rabbit'}

set3=set1.intersection(set2,set4)

set5=set3.intersection(set4)

print(set3)

print(set5)

In [ ]:
# ' & ' is used in place of intersection

set5= set1 & set2 & set3 & set4

print(set5)

Intersection_update

In [ ]:
set1.intersection_update(set4,set2)
print(set1)
set2.intersection_update(set3)
print(set2)

# Diffefrence()

In [ ]:
names={'George','Bill','Golf','harry'}
name2={'pop','Hammed','Lwarence','George','Bill'}

uncommon_item = names.difference(name2)

uncommon2=name2.difference(names)

print(uncommon_item)

print(uncommon2)

In [ ]:
# '-' is used inplace of differences

check= names-name2
print(check)

check2= name2 - names

print(check2)

# difference_update()

In [ ]:
south_west={'Oyo','Ogun','Lagos'}
state={'Ekiti','Nasarawa','Oyo','Ondo','Akwa-Ibon'}

#state.difference_update(south_west)

print(state)

south_west.difference_update(state)
print(south_west)

# Symmetric_difference()

In [42]:
food1={'yam','coca Yam','Potatoe','corn'}
food2={'beans','Amala','Pounded Yam','corn','Potatoe'}
food=food1.symmetric_difference(food2)
print(food)

food_diff = food1 ^ food2 #This is also symmetric diffrence
print(food_diff)

{'Amala', 'coca Yam', 'yam', 'beans', 'Pounded Yam'}
{'Amala', 'coca Yam', 'yam', 'beans', 'Pounded Yam'}

# Symmetric_difference_update()

In [ ]:
food1.symmetric_difference_update(food2)
print(food1)

# Python Dictionary

#Syntax for Dictionary

variable= {
            key:value
              }

In [41]:
data={
    'Name':'Tom',
    'Age':'22yrs',
    'Hobby':'Coding'
    
}

print(data.values())
print(data.keys())
print(data.items(),'\n')

for k,v in data.items():
    print(k,':', v)

    
#Access Items using key index

print('\n',data['Age'])
print(data['Name'])

#len() method is used to print the length of the Dictionary

print(len(data))


mydata={
    'names':['Bj','Omo-Tee','Abdul','Gbengene'],
    'Courses':['Data Analysis','Mobil app Dev','Cybersecurity','Web Development']
}

for i,j in mydata.items():
    print(i,j)

dict_values(['Tom', '22yrs', 'Coding'])
dict_keys(['Name', 'Age', 'Hobby'])
dict_items([('Name', 'Tom'), ('Age', '22yrs'), ('Hobby', 'Coding')])

Name : Tom
Age : 22yrs
Hobby : Coding

 22yrs
Tom
3
names ['Bj', 'Omo-Tee', 'Abdul', 'Gbengene']
Courses ['Data Analysis', 'Mobil app Dev', 'Cybersecurity', 'Web Development']

# How to access Dictionary

In [39]:
car={'brand :':'BMW',
    'Model :':'2023',
    'chasis Number :': 523879}

print(car)

{'brand :': 'BMW', 'Model :': '2023', 'chasis Number :': 523879}

In [40]:
print(car['Model'])
print(car['chasis Number'])

KeyError: 'Model'

In [36]:
#get() can be used to access Dictionary

print(car.get('Model'))
out_print=car.get('brand')
print(out_print)

#keys() can be used to access the keys of  Dictionary

viewKeys=car.keys()
print(viewKeys)
#Vvalues() can be used to access the values of Dictionary
viewValues = car.values()
print(viewValues)

#items() can be used to access both the keys and the values of Dictionary

viewItems = car.items()
print(viewItems)

for i,j in car.items():
#     print(j,)
#     print(i)
    
    print(i,j)

NameError: name 'car' is not defined

# Adding to the Dictionary

In [31]:
bioData = {'Name:': ['Jola','Bola','Abu','Kole'],
            'Gender:' : ['Female','Female', 'Male','Male']}
# for x,y in bioData.items():
#     print(x,y)
bioData['Courses :']=['Python','Graphics','Web-design','Machine Learning']
for x,y in bioData.items():
    print(x,y)

Name: ['Jola', 'Bola', 'Abu', 'Kole']
Gender: ['Female', 'Female', 'Male', 'Male']
Courses : ['Python', 'Graphics', 'Web-design', 'Machine Learning']

In [32]:
#Update() can use to update Dictionary

bioData.update({'Hobby:':['Singing','Chess Game','Solitaire','Soccer'],'color':['Blue','Red','Green','Orange']})

print(bioData)
for j,k in bioData.items():
    print(j,k)

{'Name:': ['Jola', 'Bola', 'Abu', 'Kole'], 'Gender:': ['Female', 'Female', 'Male', 'Male'], 'Courses :': ['Python', 'Graphics', 'Web-design', 'Machine Learning'], 'Hobby:': ['Singing', 'Chess Game', 'Solitaire', 'Soccer'], 'color': ['Blue', 'Red', 'Green', 'Orange']}
Name: ['Jola', 'Bola', 'Abu', 'Kole']
Gender: ['Female', 'Female', 'Male', 'Male']
Courses : ['Python', 'Graphics', 'Web-design', 'Machine Learning']
Hobby: ['Singing', 'Chess Game', 'Solitaire', 'Soccer']
color ['Blue', 'Red', 'Green', 'Orange']

# Remove from Dictionary

In [33]:
# bioData.pop('Hobby:')
bioData.popitem()
print(bioData)

{'Name:': ['Jola', 'Bola', 'Abu', 'Kole'], 'Gender:': ['Female', 'Female', 'Male', 'Male'], 'Courses :': ['Python', 'Graphics', 'Web-design', 'Machine Learning'], 'Hobby:': ['Singing', 'Chess Game', 'Solitaire', 'Soccer']}

In [34]:
# clear() is used to clear Dictionary
bioData.clear()
print(bioData)

{}

In [35]:
# del keyword is used to delete the whole Dictionary
del bioData
print(bioData)

NameError: name 'bioData' is not defined

#  How to Copy Dictionary

In [26]:
#copy() can be used to copy Dictionary from one place to another


bioData = {'Name:': ['Jola','Bola','Abu','Kole'],
            'Gender:' : ['Female','Female', 'Male','Male']}

mainData= bioData.copy()
print(mainData)

# dict() can be used to copy also

RealData = dict(mainData)
print(RealData)

{'Name:': ['Jola', 'Bola', 'Abu', 'Kole'], 'Gender:': ['Female', 'Female', 'Male', 'Male']}
{'Name:': ['Jola', 'Bola', 'Abu', 'Kole'], 'Gender:': ['Female', 'Female', 'Male', 'Male']}

# NESTED Dictionary

In [25]:
#Syntax

# Val= {
#     key : {
#         key: value
#            }
# }

Family = {
          'Father':{
              'Name': 'Adubi',
              'Hobby': 'Reading'  
          },
          'Mother':{
              'Name':'Bolanle',
              'Hobby':'Cooking'
          },
        'Child':{
            'Name':'Lawson',
            'Hobby':'Singing'
        }
    
}

print(Family)

for g,h in Family.items():
    print(g)
    print(".....................")
    for f,j in h.items():
        print(f,j,)
print(".....................")

{'Father': {'Name': 'Adubi', 'Hobby': 'Reading'}, 'Mother': {'Name': 'Bolanle', 'Hobby': 'Cooking'}, 'Child': {'Name': 'Lawson', 'Hobby': 'Singing'}}
Father
.....................
Name Adubi
Hobby Reading
Mother
.....................
Name Bolanle
Hobby Cooking
Child
.....................
Name Lawson
Hobby Singing
.....................

# Control Stucture

<h3>It is conditional statment and Iteration</h3>

<h4>=> Conditional Statement</h4>

<h4> if......else Statement</h4>
<h4>if......elif....Statement</h4>

In [23]:
#Example1 ('if' statement)

x=20

if x == 20 :
    print("X is holder of 20")

X is holder of 20

In [24]:
#Eample2 ('if...else' Statement)

if x > 30:
    print("X is greater than 30")
    
else:
    print("X is not greater than 30")

X is not greater than 30

In [21]:
#Example3 ('if...elif....else' Statement)

k = int(input("Enter number : "))

if k == 30 :
    print("This is correct")
elif k == 20 :
    print(" Wow!!! this is very correct")
elif k != 50 :
    print("K is not equal to 50")

else: 
    print("The above conditions are not correct")

Enter number : 23
K is not equal to 50

In [20]:
#Exampl 4

fruits=["Orange","Tangerine","Apple"]

if 'Oranges' in fruits:
    print(fruits)
elif 'Apple' in fruits:
    for i in fruits:
        print(i)

Orange
Tangerine
Apple

In [12]:
value1 = int(input("Enter Value"))
#value2 = int(input("Enter Value"))

print('Correct value') if value1 == 10  else print("Not Correct")

Enter Value10
Correct value

In [4]:
value1 = int(input("Enter Value"))
#value2 = int(input("Enter Value"))

print('Correct value') if value1 == 10  else print("Not Correct")

Enter Value13
Not Correct

# AND, OR , NOT

In [16]:

age1 = int(input("Enter Value : "))

scores = int(input("Enter Value : "))


if age1 == 30 and scores >= 250:
    
    print("You are qualified for the Computer Science")
else:
    print("Come back next year")

Enter Value : 30
Enter Value : 267
You are qualified for the Computer Science

In [19]:
# AND keyword
age1 = int(input("Enter Value : "))

scores = int(input("Enter Value : "))


if age1 == 30 and scores >= 250:
    
    print("You are qualified for the Computer Science")
else:
    print("Come back next year")

Enter Value : 30
Enter Value : 24
Come back next year

In [32]:
# OR KEYWORD

height = 6.2
skill = 1

if height >= 6.0 or skill == 3.0 :
    print("You are good to go")
else:
    print("Work harder")

You are good to go

In [35]:
#Not 

a=10 
v=25

if not a < v :
    print("10 is not greater than 25")
else: 
    print("Above condition is confusing")

Above condition is confusing

# Nested If: Having If in another If

In [5]:
#Example 1
n= 10

if n < 12:
    if 30 != n:
        print(" This is an example of nested if")
        
    else:
        print("The nested is missing a condition")
else:
    print("The above statement is absolutely not correct")
    
    
#Example 2    

m = int(input("Enter Number"))
j= int(input("Enter Number"))
if m < 15:
    if 30 != j :
        print(" This is another example of nested if")
    else:
        print("The nested is missing a condition")
else:
     print("The above statement is also not correct")

 This is an example of nested if
Enter Number10
Enter Number30
The nested is missing a condition

In [ ]:
#Example 3
stud_id = "cs00128"
grade = int(input("Score"))
    
if  stud_id == "cs00128":
    if grade >=79:
        print("Grade : A")
    elif grade >=70:
        print("Grade : B")
    else:
        print("Grade : Fail")
else:
    print("The Student Id is invalid")


# Iteration

In [3]:
#for Loop and while loop


# While loop

k =10

while k < 15:
    print(k)
    k += 1


#example2

items= ['bag','Shoe','Sun Glasses','Mobile Phone','Belt','shoe polish','Body Spray']

j=0

while j < len(items):
    print(items[j])
    j +=1

10
11
12
13
14
bag
Shoe
Sun Glasses
Mobile Phone
Belt
shoe polish
Body Spray

In [6]:
#Break Keyword

items= ['bag','Shoe','Sun Glasses','Mobile Phone','Belt','shoe polish','Body Spray']

j=0
while j < len(items):
    print(items[j])
    if (j == 4):
        break
    j +=1

bag
Shoe
Sun Glasses
Mobile Phone
Belt

In [3]:
#Continue Keyword

items= ['bag','Shoe','Sun Glasses','Mobile Phone','Belt','shoe polish','Body Spray']

j=0
while j < len(items):
    j +=1
    if (j == 3):
        continue
        print(items[j])

# Function

It is a block of code that runs when it is called

In [5]:
#Syntax for function
"""def functionName(argument):
    code line to be executed"""

'def functionName(argument):\n    code line to be executed'

In [13]:
# Example 1

def Salutation():
    print("Good Evening Everyone")

Salutation() # Function Called


# Example 2

def Mssg():
    print("Everybody need to be alert right now")

Mssg()


def add():
    a=10
    b=12
    print("10 + 12 =", a + b )

add()

Good Evening Everyone
Everybody need to be alert right now
10 + 12 = 22

<h2>Arguments(It like a variable declared in a function Bracket)</h2>

In [21]:
def BioData(fname):
    print("Adewale ", fname)
    print("Wolex   ", fname)

BioData('Williams')

def course(courseName):
    print("Course Name: ", courseName)

course("Data Analytics")

# Below function takes more than one argument
def calcu(a,b,c):
    print("a + b / c = " , a + b / c)
calcu(10,20,35)

def StudBio(name,course,duration):
    print(" \n Name :", name)
    print("Course :", course)
    print("Duration :", duration)

StudBio('Abdul','Python','5months')

Adewale  Williams
Wolex    Williams
Course Name:  Data Analytics
a + b / c =  10.571428571428571

 Name : Abdul
Course : Python
Duration : 5months

In [1]:
def country(*counName):
    
    print("There are the list of country available", counName)
    for i in counName:
        print(" country :", i)
country("USA","Nigeria","Canada","South Africa","Germany")

There are the list of country available ('USA', 'Nigeria', 'Canada', 'South Africa', 'Germany')
 country : USA
 country : Nigeria
 country : Canada
 country : South Africa
 country : Germany

# Topic : LAMBDA( Anonymous Function)

In [3]:
#Syntax 
# lambda argument : expression

x= lambda e : e + 20

print(x(10))

30

In [8]:
age = lambda ag : ag * 5

print(age(20))

100

In [11]:
calculator = lambda c,d : c + d
print(calculator(12,20))

32

In [13]:
addy = lambda a,s,d : a + s * d
print(addy(10,2,8))

26

In [15]:
sub = lambda i,j : i * j

num1 = int(input("Enter Number"))
num2 = int(input("Enter Second Number"))

print(sub(num1 , num2))

Enter Number

ValueError: invalid literal for int() with base 10: ''

# Moudles= External Libry in Python

In [2]:
import datetime

Mydate= datetime.datetime.now()
print(Mydate)

print("\nThis Year is :", Mydate.year)# Determine Year
print("\n Today is :", Mydate.day)# Determine Day
print("\n THis Month is :", Mydate.month)

2024-09-24 21:20:29.223870

This Year is : 2024

 Today is : 24

 THis Month is : 9

In [3]:
print(Mydate.strftime("%A"))# Days of the week
print(Mydate.strftime("%a"))#

Tuesday
Tue

# Working with Json file

Json is Javascript Object Notation, its like Dictionary but its in Javascript 
format. We use it as a dataset for projects.

In [9]:
#Example
import json

dataSet =  '{ "name":"John Poju", "age":22, "city":"Osogbo"}'

# parse dataSet:
# loads is used to convert to python related dataset
y = json.loads(dataSet) 

# the result is a Python dictionary:
print(y["age"])
print(y,'\n')

for i,k in y.items():
    print(i,k)

22
{'name': 'John Poju', 'age': 22, 'city': 'Osogbo'}

name John Poju
age 22
city Osogbo

# Convert from Python to JSON

In [18]:
dataSet =  { "name":"John Poju",
              "age": 22,
              "city":"Osogbo"}
#Dumps is used to convert dictionary to json
data_convert=json.dumps(dataSet)
print(data_convert)

{"name": "John Poju", "age": 22, "city": "Osogbo"}

# PIP

# File handling

<h3>#file handling </h3>
<h3>x-Create a file</h3>
<h3>a-Append(update a file) </h3>
<h3>w- Write a file</h3>
<h3>r- Read a File </h3>

In [22]:
#Open
file_open = open('C:/Users/HP/Desktop/MyOnlinePythonClass/myfile.txt', 'rt')
print(file_open)

<_io.TextIOWrapper name='C:/Users/HP/Desktop/MyOnlinePythonClass/myfile.txt' mode='rt' encoding='cp1252'>

In [33]:
file_output = open('C:/Users/HP/Desktop/MyOnlinePythonClass/myfile.txt', 'r')
# print(file_output.read(20))

print(file_output.readline())

good evening class, we are treating file handling

In [34]:
print(file_output.readline())

Python is creating a file now

In [38]:
file_update = open('C:/Users/HP/Desktop/MyOnlinePythonClass/myfile.txt', 'a')
file_update.write("\n it is also s good thing to be a python developer in this new age.")
file_update.close()

In [39]:
file_update = open('C:/Users/HP/Desktop/MyOnlinePythonClass/myfile.txt', 'r')
print(file_update.read())

good evening class, we are treating file handling
Python is creating a file nowit is also s good thing to be a python developer in this new age.
 it is also s good thing to be a python developer in this new age.

In [43]:
file_write= open('C:/Users/HP/Desktop/MyOnlinePythonClass/myfile2.txt','w')
file_write.write("................\n this is another file written to update the \n python file to illustrate write() method")
file_write.close()

In [46]:
file_previous = open('C:/Users/HP/Desktop/MyOnlinePythonClass/myfile.txt', 'r')
file_read = open('C:/Users/HP/Desktop/MyOnlinePythonClass/myfile2.txt', 'r')
print(file_previous.read())

 this is another file written to update the
 python file to illustrate write() method

In [47]:
print(file_read.read())

 this is another file written to update the
 python file to illustrate write() method

In [52]:
# newfile=open('C:/Users/HP/Desktop/MyOnlinePythonClass/newfile.txt', 'x')
# file.close()
# newf= open('C:/Users/HP/Desktop/MyOnlinePythonClass/newfile.txt', 'w')
# newf.close()
newfile1 = open('C:/Users/HP/Desktop/MyOnlinePythonClass/newfile.txt','r')
print(newfile1.read())

In [53]:
newf=open('C:/Users/HP/Desktop/MyOnlinePythonClass/newfile.txt','a')
newf.write("Home sweet home")
newf.close()
#print(newfile1.read())')

In [55]:
newf = open('C:/Users/HP/Desktop/MyOnlinePythonClass/newfile.txt','r')
print(newf.read())

Home sweet home

The Enugu State government has announced plans to raise billions of naira annually to fund critical security infrastructure, ensuring the state is secure for tourism, business, and investment to thrive.

The Governor of Enugu State, Peter Mbah, disclosed this on Thursday during the unveiling of a N20bn fundraising campaign for the State Security Trust Fund, held at the Old Government Lodge, Enugu.

Mbah explained that the Enugu State Security Trust Fund is a public-private partnership established in response to the need to improve the security infrastructure of Enugu State while fostering development and prosperity for its residents.

Represented by the Secretary to the State Government, Chidiebere Onyia, the Governor noted that “without a secure environment, his drive to grow the economy of Enugu State from $4 billion to $30 billion annually will not be achievable.”

Health 360: Safety in health care0:00 / 0:00

He listed the critical security projects to be funded, which include personnel welfare, empowerment of the vigilante group, purchasing additional weaponry, CCTV system architecture, a street lighting system, purchase of security vehicles, and support for security agencies.

While stating that the entire country is witnessing multifaceted security issues, Mbah urged individuals, corporate entities, businesses, and various arms of government to support the fund.

Earlier, the Chairman of the Board of Trustees of the State Security Trust Fund, Dr Ike Chioke, said the fund anticipates contributions of N10 billion from corporate entities, N3 billion from the state government, N3 billion from local government, and N1.5 billion from individuals and other sources.
The objective of the trust fund, Chioke said, is to create a central security coordination point, which will help strengthen the state’s security infrastructure in combating the multifaceted issues of insecurity across the region.


He stated, “This initiative is born out of the urgent need to address the security challenges that have plagued our beloved state, and it marks a significant step towards creating a safer, more prosperous, and more progressive future for all our residents. Enugu State, under the leadership of His Excellency Dr. Peter Mbah, has set a bold vision to become one of Nigeria’s top three states by Gross Domestic Product (GDP).

In [2]:
pip install requests beautifulsoup4 lxml

Requirement already satisfied: requests in c:\users\hp\anaconda3\lib\site-packages (2.27.1)Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -illow (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -lotly (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -lotly (c:\users\hp\anaconda3\lib\site-packages)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: beautifulsoup4 in c:\users\hp\anaconda3\lib\site-packages (4.11.1)
Requirement already satisfied: lxml in c:\users\hp\anaconda3\lib\site-packages (4.8.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\hp\anaconda3\lib\site-packages (from requests) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\anaconda3\lib\site-packages (from requests) (2023.11.17)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\hp\anaconda3\lib\site-packages (from beautifulsoup4) (2.3.1)

In [4]:
import requests
from bs4 import BeautifulSoup

In [15]:
url = 'https://realpython.com/'
response = requests.get(url)
#POST is sending While Get is Recieving

soup = BeautifulSoup(response.text, 'lxml')

articles = soup.find_all('h2' , class_= 'card-title')
for i , article in enumerate(articles, start=1):
    title = article.get_text(strip=True)
    print(f"{i}. {title}.")

with open('realpython_articles.txt', 'w') as file:
    for article in articles:
        title= article.get_text(strip=True)
        file.write(title + "\n")
print("Scraped titles saved to 'realpython_articles.txt' !!!")

1. Python Thread Safety: Using a Lock and Other Techniques.
2. Understanding Python's Global Interpreter Lock (GIL).
3. Python's property(): Add Managed Attributes to Your Classes.
4. Structural Pattern Matching in Python.
5. Using Type Hints for Multiple Return Types in Python.
6. Syntactic Sugar: Why Python Is Sweet and Pythonic.
7. Build a Contact Book App With Python, Textual, and SQLite.
8. What's New in Python 3.13.
9. Python News Roundup: October 2024.
10. A Guide to Modern Python String Formatting Tools.
11. Differences Between Python's Mutable and Immutable Types.
12. Python 3.13: Cool New Features for You to Try.
13. Python 3.13 Preview: A Modern REPL.
14. Advanced Python import Techniques.
15. Python Virtual Environments: A Primer.
16. Python 3.13 Preview: Free Threading and a JIT Compiler.
17. Customizing VS Code Through Color Themes.
18. Using Python's pip to Manage Your Projects' Dependencies.
19. How to Use Conditional Expressions With NumPy where().
Scraped titles saved to 'realpython_articles.txt' !!!